@font-face {
	font-family: 'Avenir LT Std-Heavy';
	src: url('../fonts/avenirlts/AvenirLTStd-Heavy.eot');
	src: url('../fonts/avenirlts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/avenirlts/AvenirLTStd-Heavy.woff') format('woff'),
		url('../fonts/avenirlts/AvenirLTStd-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir LT Std-Medium';
	src: url('../fonts/avenirlts/AvenirLTStd-Medium.eot');
	src: url('../fonts/avenirlts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/avenirlts/AvenirLTStd-Medium.woff') format('woff'),
		url('../fonts/avenirlts/AvenirLTStd-Medium.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}




@font-face {
    font-family: 'resistanceregular';
    src: url('../fonts/resistance_generale-webfont.eot');
    src: url('../fonts/resistance_generale-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/resistance_generale-webfont.woff2') format('woff2'),
         url('../fonts/resistance_generale-webfont.woff') format('woff'),
         url('../fonts/resistance_generale-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
