@import "config.scss";
@import "fonts.scss";
@import "input.scss";

body{
    width: 100%;
    height: 100%;
    font-family: "Avenir LT Std-Medium", Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #0C0C0C;
    font-size: 18px;
}

html {
    width: 100%;
    height: 100%;
}
.navbar-custom {
    margin-bottom: 0;
    font-family: 'ClearSans-Bold', sans-serif;    
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    padding-top: 10px;
}


.navbar-nav{
    margin-top: 8%;
}
.navbar-custom a {
    color: #fff;
    transition: color 0.5s ease;
}

.navbar-custom .nav li a:hover {
    color: grey;
    background-color: transparent;
    transition: color 0.5s ease;
    text-decoration: line-through;

}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: black;
    color: white;
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}


svg * {
  fill-opacity: 0;
  transition: fill-opacity 1s;
}

svg.finished * {
  fill-opacity: 1;
}
#keyhole{
    width: 400px;
    display: inline-block;
              @media screen and (max-width:$breakpoints-xs) {
    display: none;

  }

}



.topnav {
    font-size: 14px; 
}

h1, h2{
        font-family: "Avenir LT Std-Heavy";

}

.introtitle {
    font-size: 3em;
}
.content-section-a {
    padding: 50px 0;
}

.content-section-b {
    padding-top: calc(80vh / 5); 
    padding-bottom: calc(80vh / 5); 
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.minimum{
    min-width: 50px;
    display: inline-block;
}

.b-inverse{
    float:right;
    margin-top:10vh;
}
.lead{
}

.daybyday {
  transition: all 0.2s cubic-bezier(.7,.2,.17,1);
  box-shadow: 0 0 2px hsla(0,0%,0%,0.1); 
  overflow:hidden;
  position: relative;
  background: hsla(0,0%,100%,0.5);
}

.daybyday:hover {
  background: hsla(0,0%,100%,1);
  transform: scale(1.02);
  box-shadow: 0 46px 12px -16px hsla(0,0%,0%,0.05); 
}

#mobilelogo{
    width:100px;
    height:100px;
    background-color:red;
                  @media screen and (min-width:$breakpoints-xs) {
    display: inline;

  }
}
.attached {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw; }

@keyframes pound {
	from { transform: none; }
	50% { transform: scale(1.4); }
	to { transform: none; }
}

.attached:before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: url(../../assets/img/background5.jpg) no-repeat center;
  background-size:cover;
  animation: leaves 20s infinite alternate; }

@-webkit-keyframes leaves {
    0% {
        -webkit-transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(1.1);
    }
}

@keyframes leaves {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform:  scale(1.1);
    }
}
.button.play {
    width: 60px;
    height: 60px;
    background-color: #FFF;
    background-image: url(../../assets/play-button.svg) no-repeat center;
}

.button.play:hover {
  animation-duration: 1s;
  animation-name: leaves;
  animation-iteration-count: 1;
  cursor: pointer;
}

