@font-face {
  font-family: 'Avenir LT Std-Heavy';
  src: url("../fonts/avenirlts/AvenirLTStd-Heavy.eot");
  src: url("../fonts/avenirlts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/avenirlts/AvenirLTStd-Heavy.woff") format("woff"), url("../fonts/avenirlts/AvenirLTStd-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir LT Std-Medium';
  src: url("../fonts/avenirlts/AvenirLTStd-Medium.eot");
  src: url("../fonts/avenirlts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/avenirlts/AvenirLTStd-Medium.woff") format("woff"), url("../fonts/avenirlts/AvenirLTStd-Medium.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'resistanceregular';
  src: url("../fonts/resistance_generale-webfont.eot");
  src: url("../fonts/resistance_generale-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/resistance_generale-webfont.woff2") format("woff2"), url("../fonts/resistance_generale-webfont.woff") format("woff"), url("../fonts/resistance_generale-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Kyo */
.input--kyo {
  z-index: auto; }

.input__field--kyo {
  width: 100%;
  border-radius: 2em;
  color: #535d92; }

body {
  width: 100%;
  height: 100%;
  font-family: "Avenir LT Std-Medium", Helvetica,Arial,sans-serif;
  color: #fff;
  background-color: #0C0C0C;
  font-size: 18px; }

html {
  width: 100%;
  height: 100%; }

.navbar-custom {
  margin-bottom: 0;
  font-family: 'ClearSans-Bold', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  padding-top: 10px; }

.navbar-nav {
  margin-top: 8%; }

.navbar-custom a {
  color: #fff;
  transition: color 0.5s ease; }

.navbar-custom .nav li a:hover {
  color: grey;
  background-color: transparent;
  transition: color 0.5s ease;
  text-decoration: line-through; }

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: black;
  color: white; }

.navbar-custom .nav li.active a:hover {
  color: #fff; }

svg * {
  fill-opacity: 0;
  transition: fill-opacity 1s; }

svg.finished * {
  fill-opacity: 1; }

#keyhole {
  width: 400px;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    #keyhole {
      display: none; } }

.topnav {
  font-size: 14px; }

h1, h2 {
  font-family: "Avenir LT Std-Heavy"; }

.introtitle {
  font-size: 3em; }

.content-section-a {
  padding: 50px 0; }

.content-section-b {
  padding-top: calc(80vh / 5);
  padding-bottom: calc(80vh / 5); }

.section-heading {
  margin-bottom: 30px; }

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7; }

.minimum {
  min-width: 50px;
  display: inline-block; }

.b-inverse {
  float: right;
  margin-top: 10vh; }

.daybyday {
  transition: all 0.2s cubic-bezier(0.7, 0.2, 0.17, 1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.5); }

.daybyday:hover {
  background: white;
  transform: scale(1.02);
  box-shadow: 0 46px 12px -16px rgba(0, 0, 0, 0.05); }

#mobilelogo {
  width: 100px;
  height: 100px;
  background-color: red; }
  @media screen and (min-width: 768px) {
    #mobilelogo {
      display: inline; } }
